:root {
  --lighter-bright: #f8f9fa;
  --bright-color: #e9ecef;
  --darker-bright: #dee2e6;
  --lighter-mid: #ced4da;
  --mid-color: #adb5bd;
  --darker-mid: #6c757d;
  --lighter-dim: #495057;
  --dim-color: #343a40;
  --darker-dim: #212529;
  --lighter-dark: #242424;
  --dark-color: #1a1a1a;
  --darker-dark: #121212;

  --font-color: var(--bright-color);
  --link-color: #86a9e7;
  --visited: #c791d4;

  --grid-size: 66px;
  --grid-strength: 1px;
  --grid-dash: 5.5px;
  --grid-gap: 11px;
  --grid-color: var(--darker-mid);
  --paper-color: var(--lighter-dark);

  --resizer-size: 8px;
  --resizer-offset: -4px;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  margin: 0 2vw;
  font-family: Verdana, sans-serif;
  background-color: var(--dark-color);
  color: var(--font-color);
}

header {
  max-height: 15vh;
}

#main {
  flex: 1;
  height: 70vh;
}

#editor {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#wrapper {
  position: relative;
  width: 5000px;
  height: 5000px;
  background-color: var(--lighter-dark);
  background-size: var(--grid-gap) var(--grid-gap),
    var(--grid-size) var(--grid-size);
  background-image: linear-gradient(
      to bottom,
      transparent var(--grid-dash),
      var(--paper-color) var(--grid-dash)
    ),
    linear-gradient(
      to right,
      var(--grid-color) var(--grid-strength),
      transparent var(--grid-strength)
    ),
    linear-gradient(
      to right,
      transparent var(--grid-dash),
      var(--paper-color) var(--grid-dash)
    ),
    linear-gradient(
      to bottom,
      var(--grid-color) var(--grid-strength),
      transparent var(--grid-strength)
    );
  background-position: -2px -2px;
  background-repeat: repeat;
}

#tools {
  position: fixed;
  z-index: 3;
  height: 74%;
  margin: 1.5rem;
  min-width: 3rem;
  max-width: fit-content;
  border: 1px solid grey;
  border-radius: 0.3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--darker-dark);
}

.separator {
  width: 60%;
  border: 1px solid var(--dim-color);
  border-radius: 2rem;
}

#zoomIcons {
  display: flex;
  gap:.3rem;
  position: fixed;
  z-index: 5;
  top: 84%;
  right: 4%;
  background-color: var(--darker-dark);
  border: 1px solid grey;
  border-radius: 2rem;
  padding: 0.3rem;
}

.zoom {
  width: 32px;
  height: 32px;
  font-size: 2rem;
  padding: 0.2rem;
}

.labels,
.menu_labels {
  border: 1px solid silver;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.labels i {
  font-size: 1.2rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

.z_border::after {
  content: "";
  position: absolute;
  height: 2rem;
  width: 2rem;
  border: 1px solid silver;
  border-radius: 0.3rem;
  z-index: 6;
  pointer-events: none;
}

label {
  pointer-events: none;
  position: absolute;
  display:none;
}

.menus {
  position: absolute;
  z-index: 5;
  height: 2rem;
  left: -0.3rem;
  background-color: var(--darker-dark);
  border: 1px solid silver;
  border-radius: 0.3rem;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem;
  padding-left: 3.3rem;
}

.menus {
  display: none;
}

.labels:hover .menus,
.visible {
  display: flex;
}

input[type="file"] {
  padding: 0.3rem;
}

.containers {
  position: absolute;
  border-radius: 0.5rem;
  padding: .3rem;
  display: flex;
  gap: .5rem;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  z-index: 3;
}

.group_content .containers {
  position: relative;
}

#container_0_0{
  display: grid;
  gap: .5rem;
  grid-template-areas: 
        'grip question'
        'grip link';

  .grip {
    grid-area: grip;
  }

  .question{
    grid-area: question;
    gap: 0;
  }
  .links{
    grid-area: link;
  }
}

.grip {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grip i{
  width: 30px;
  font-size: 1rem;
  color: var(--bright-color);
  text-align: center;
}

.links{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.link_circle{
  width: 16px;
  height: 16px;
  border-radius: 2rem;
  background-color: white;
  z-index: 3;
}

circle {
  fill: var(--darker-dim);
  z-index: 4;
}

textarea {
  height: 1rem;
}

.question{
  flex-grow: 1;
  display: flex;
  gap: .3rem;
  flex-flow: column;
}

.answers {
  display: flex;
  flex-flow: row;
  gap: .3rem;
}

.answer {
  flex-grow: 1;
  border-radius: 0.3rem;
  border: 1px solid var(--bright-color);
  display: grid;
  gap: .3rem;
  grid-template-areas: 
  "grip content"
  "grip bottom"
  ;
  .grip {
    grid-area: grip;
  }

  .answer__input{
    grid-area: content;
  }
  .links{
    grid-area: bottom;
  }
}

.question__input,
.answer__input {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  .preview_img {
    width: 11rem;
    height: 11rem;
  }
}

.result_container {
  display: flex;
  flex-flow: row;
  .preview_img {
    width: 15rem;
    height: 15rem;
  }
}

.result {
  display: flex;
  flex-flow: column;
}

output {
  display: flex;
  flex-flow: column;
  min-height: 2rem;
  color: black;
  background-color: white;
  border: 1px solid var(--darker-dim);
  border-radius: 0.3rem;
}

.groups {
  position: absolute;

  display: grid;
  grid-template-columns: fit-content(2rem auto);
  grid-template-rows: fit-content(2rem) fit-content(100px);
  grid-template-areas:
  'grip label .'
  'grip content content';
  gap: .3rem;
  .grip {
    grid-area: grip;
  }
}

.group_tag {
  grid-area: label;
}

.group_content{
  height: fit-content;
  grid-area: content;
  display: flex;
  gap:.5rem;
}

#temp_group{
  background-color: var(--link-color);
  pointer-events: none;
}

#tags {
  position: fixed;
  z-index: 5;
  min-width: 10rem;
  max-height: fit-content;
  top: 8rem;
  right: 2rem;
  border: 1px solid grey;
  border-radius: 0.3rem;
  background-color: var(--darker-dark);
  h4 {
    margin: 0.5rem;
  }
}

.tag_container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--darker-bright);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.tag_label {
  min-width: 3rem;
  border-radius: 1rem;
  text-align: center;
  margin: 0.3rem;
}

.tooltip {
  position: relative;
  z-index: 3;
}

.tooltip_text,
.menu_tooltip_text {
  visibility: hidden;
  position: absolute;
  top: 80%;
  left: 80%;
  z-index: 3;
  padding: 0.3rem;
  background-color: var(--lighter-dim);
  border-radius: 0.3rem;
  color: var(--lighter-mid);
}

.tooltip:hover .tooltip_text,
.menu_tooltip:hover .menu_tooltip_text {
  visibility: visible;
}

.menu_tooltip_text {
  visibility: hidden;
  position: absolute;
  top: 80%;
  left: 80%;
  z-index: 4;
  padding: 0.3rem;
  background-color: var(--lighter-dim);
  border-radius: 0.3rem;
  color: var(--lighter-mid);
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  pointer-events: none;
}

footer {
  max-height: 15vh;
  z-index: 2;
}
