:root {
  --font-color: #b8b8b8;
  --link-color: #86a9e7;
  --visited: #c791d4;
  --lighter-darkground: #242424;
  --darkground: #1a1a1a;
  --darker-darkground: #121212;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  margin: 0 2vw;
  font-family: Verdana, sans-serif;
  background-color: var(--darkground);
  color: var(--font-color);
}

header{
  max-height: 15vh;
}

footer{
max-height: 15vh;
}

#main{
  flex: 1;
  height: 70vh;
}

#wrapper {
  display: flex;
}

#editor {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.grid_wrapper {
  border: 1px solid darkgray;
  background-color: var(--lighter-darkground);
}

.rows {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
  height: 100px;
}

.empty_container {
  width: 100px;
  border: 1px dashed var(--font-color);
}

#tools {
  position: fixed;
  z-index: 3;
  height: 74%;
  margin: 1.5rem;
  min-width: 3rem;
  max-width: fit-content;
  border: 1px solid grey;
  border-radius: 0.3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--darker-darkground);
}

#zoomIcons {
  position: fixed;
  z-index: 3;
  top: 84%;
  right: 4%;
  background-color: var(--darker-darkground);
  border: 1px solid grey;
  padding: 0.3rem;
  border-radius: 2rem;
}

.zoom {
  font-size: 2rem;
  padding: 0.2rem;
}

.labels {
  height: 2rem;
  width: 2rem;
  border: 1px solid silver;
  border-radius: 0.3rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.labels p {
  display: none;
}

.labels p:hover {
  display: block;
}

ul a {
  color: var(--link-color);
}

ul a:visited {
  color: var(--visited);
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* OLD */
/* 
#trash {
  grid-area: trash;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  border: 2px solid red;
  border-radius: 0.3rem;
  color: red;
  background: repeating-linear-gradient(
    45deg,
    #ffc0cb,
    #ffc0cb 10px,
    #ffffff 10px,
    #ffffff 20px
  );
}

.row {
  z-index: -1;
  grid-column: compar-start / compar-end;
  grid-row: compar-start / compar-end;
  border: 1px solid blue;
  background-color: aliceblue;
}

.row__content {
  display: flex;
  gap: 1rem;
  border-radius: 0.3rem;
}

.row_label {
  height: fit-content;
}

.row_name_label {
  display: none;
}

#row_0 {
  padding: 0;
  border: none;
}

.container {
  display: flex;
  flex: 1;
  flex-flow: column;
  border: 1px solid dodgerblue;
}

.add_container {
  display: none;
}

textarea {
  height: 1rem;
}

.questions {
  display: flex;
}

.question {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: lavender;
  border: 1px solid slateblue;
  border-radius: 0.3rem;
  padding: 0.3rem;
}

.question__input {
  display: flex;
}

.question__input > label {
  cursor: grab;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.8rem;
  width: 0.8rem;
  border: 1px solid black;
  border-radius: 0.8rem;
  background-color: white;
  cursor: crosshair;
}

.answers {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  border: 1px solid darkorange;
  padding: 0.3rem 2.3rem 0.3rem 0.3rem;
  background-color: peachpuff;
  border-radius: 0.3rem;
}

.answer {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  border: 1px solid orange;
  border-radius: 0.3rem;
  padding: 0.3rem;
  background-color: papayawhip;
}

.row__answers {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.3rem;
  background-color: aliceblue;
}

.row__answers > .answer {
  flex: 1;
  height: 80%;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  border: 1px solid dodgerblue;
  border-radius: 0.3rem;
  background-color: ghostwhite;
}

.answer__input {
  display: flex;
  flex-flow: column;
}

.answer__input > label {
  cursor: grab;
}

.add_answer {
  display: none;
}

.drag_handle {
  width: 1.5rem;
}

canvas {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

svg {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.paths {
  pointer-events: stroke;
  opacity: 0.5;
}

.highlightedPaths {
  opacity: 1;
}

.none {
  display: none;
}

.bottom {
  display: flex;
  gap: 0.3rem;
  padding: 0.3rem;
}

#results {
  flex: 0.7;
  background-color: #f1f9ec;
  border: 1px solid limegreen;
}

.result__row {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: mintcream;
  border: 1px solid lightgreen;
  border-radius: 0.3rem;
}

.result {
  flex: 0.6;
  display: flex;
  flex-flow: column wrap;
}

.dropdown {
  background-color: lightgreen;
  padding: 0.3rem;
}

.full_result {
  flex: 1;
}

.tags__area {
  min-width: 100%;
  min-height: 3rem;
  background-color: snow;
  border: 1px solid gainsboro;
  border-radius: 0.3rem;
  display: flex;
}

.preview {
  flex: 0.4;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: honeydew;
  border: 1px solid palegreen;
  border-radius: 0.3rem;
}

.img__container {
  flex: 0.8;
  display: flex;
  align-items: center;
  padding: 0.3rem;
}

.img_preview {
  width: 100%;
  max-height: 250px;
  display: block;
}

.link_preview {
  flex: 0.2;
  margin: 0;
  display: flex;
  align-items: center;
}

#tags {
  flex: 0.3;
}

.tags__container {
  flex: 0.3;
  display: flex;
  flex-flow: row wrap;
  background-color: floralwhite;
  border: 1px solid palegoldenrod;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.tag,
.result__tag {
  background-color: ivory;
  width: min-content;
  height: fit-content;
  padding: 0.5rem;
  border: 1px solid moccasin;
  border-radius: 0.8rem;
  cursor: grab;
}
 */
